#title {
    font-size: 36px;
    font-weight: bold;
}

#keybord{
    box-shadow: -3px -3px 5px , 3px 3px 5px ;
    width: 680px;
    margin:200px auto 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:20px 20px;
    border-radius: 10px;
}

.tile {  
    border: 2px solid ;  
    display: inline-block;
    margin: 2.5px;
    height: 8vh;
    width: 4vw;
    border-radius: 7px;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.key_input {
    border:  solid lightgray;  
    display: inline-block;
    margin: 5px;
    height: 4vh;
    width: 3vw; 
    border-radius: 7px;
    font-size: 20px;
    background-color: grey;
    cursor: pointer;
}
.enter{
    border:  solid lightgray;  
    display: inline-block;
    margin: 5px;
    height: 4vh;
    width: 4vw; 
    border-radius: 7px;
    font-size: 20px;
    background-color: grey;
    cursor: pointer;

}
.backspace{
    border:  solid lightgray;  
    display: inline-block;
    margin: 5px;
    height: 4vh;
    width: 4vw; 
    border-radius: 7px;
    background-color: grey;
    cursor: pointer;
}

.correct {
    background-color: #6AAA64;
    color: white;
    border-color: white;
}

.present {
    background-color: #C9B458;
    color: white;
    border-color: white;
}

.absent {
    background-color: #787C7E;
    color: white;
    border-color:white;
}


.play_again{
    background-color: #e6e8ea;
    columns: black;
    border-radius: 5px;
}
.correct_guess{
    color:#6AAA64;
}